<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Huddle landing page with a single introductory section
        link(rel="icon" href="images/favicon-32x32.png")
        link(rel="stylesheet", href="css/font-awesome.min.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap")
        link(rel="stylesheet", href="css/style.css")
    body
        section
            img(src="images/logo.svg" alt="logo")
            div.content
                div.img
                    img(src="images/illustration-mockups.svg" alt="illustration-mockups")
                div.con-text
                    h1 Build The Community Your Fans Will Love
                    p Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion.
                    button Register
            div.social
                i(class="fa fa-facebook fa-lg face-edit" aria-hidden="true")
                i(class="fa fa-twitter fa-lg" aria-hidden="true")
                i(class="fa fa-instagram fa-lg" aria-hidden="true")
        //this site create by Mohamed Maghraby